.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inknut-antiqua-medium {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inknut-antiqua-semibold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inknut-antiqua-bold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inknut-antiqua-extrabold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inknut-antiqua-black {
    font-family: "Inknut Antiqua", serif;
    font-weight: 900;
    font-style: normal;
  }
  /* Global Styles */
body {
    background-color: #817b7bea;
    color: white;
}


.navbar {
    background-color: #000 !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #444;
    color: white;
}


.fight-card {
    background-color: #333;
    color: white;
    margin-bottom: 2rem;
    border-radius: 8px;
    
  

.fight-card:hover {
    transform: translateY(-5px);
}

.fight-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.placeholder-img {
    height: 250px;
    width: 100%;
}

.fight-description {
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

    
    .fight-description {
        font-size: 0.8rem;
    }

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.fight-card {
    background-color: #333;
    color: white;
   
}



.fight-description {
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
}


    
    .fight-description {
        font-size: 0.8rem;
    }

    
      }


     
    
    .btn-primary {
      background-color: #ff990000;
      border-color: #ff990000;
    }
    
    .btn-primary:hover {
      background-color: #f57c00;
      border-color: #f57c00;
    }
    